$base-color: #f1f1f1;
$primary-font-color: #2f2f2f;
$secondary-font-color: white;

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    background: $base-color;
    padding: 15px;
}

#navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #dddddd;
        border-radius: 20px;
        font-weight: bolder;
        font-size: 40px;
        color: $primary-font-color;
    }
}

.toggle-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .toggle-left {
        height: 50px;
        width: 250px;
        color: $secondary-font-color;
        border-radius: 12px 0px 0px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d2d2d2;
        cursor: pointer;
        font-size: 22px;
    }

    .toggle-right {
        height: 50px;
        width: 250px;
        color: $secondary-font-color;
        border-radius: 0px 12px 12px 0px;
        background: #d2d2d2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        font-size: 22px;
    }
}

.selected-toggle {
    background: linear-gradient(97.38deg, #de3e5f -0.86%, #ff7491 101.03%) !important;
    font-weight: bold !important;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    .toggle-div {

        .toggle-left,
        .toggle-right {
            width: 150px;
        }
    }
}

@media only screen and (max-width: 425px) {
    #navbar h1 {
        font-size: 30px;
    }
}