@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
* {
  margin: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0;
  font-family: -apple-system, sans-serif;
}

body {
  background: #f1f1f1;
}

#navbar {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar h1 {
  font-family: 'Days One', sans-serif;
  width: 80%;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 40px;
  color: #1f1f1f;
}

.toggle-div {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle-div .toggle-left {
  height: 50px;
  width: 250px;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
  border-radius: 12px 0px 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bfbfbf;
  cursor: pointer;
  font-size: 22px;
}

.toggle-div .toggle-right {
  height: 50px;
  width: 250px;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
  border-radius: 0px 12px 12px 0px;
  background: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  cursor: pointer;
  font-size: 22px;
}

.selected-toggle {
  background: linear-gradient(97.38deg, #de3e5f -0.86%, #ff7491 101.03%) !important;
  font-weight: bold !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gpa-cgpa-container {
  padding: 30px;
  -webkit-animation: zoomIn 0.7s;
          animation: zoomIn 0.7s;
  width: 80%;
  height: calc(60vh);
  border: 1px solid #9A9A9A;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFBFB), to(#EBEDEE));
  background: linear-gradient(180deg, #FDFBFB 0%, #EBEDEE 100%);
  background-size: cover;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-top: 30px;
  -webkit-box-shadow: 0px 11px 31px 5px #0000001A;
          box-shadow: 0px 11px 31px 5px #0000001A;
  color: #1f1f1f;
}

.gpa-cgpa-container .gpa-content {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1f1f1f;
}

.gpa-cgpa-container .gpa-content .gpa-input {
  padding-left: 10px;
  padding-right: 20px;
  color: #1f1f1f;
  border-right: 1px solid #8f8f8f;
  font-size: 22px;
  width: 50%;
}

.gpa-cgpa-container .gpa-content .gpa-input .select-box {
  min-height: 190px;
  overflow: auto;
  position: absolute;
  display: contents;
}

.gpa-cgpa-container .gpa-content .gpa-input .select-box select {
  cursor: pointer;
  height: 42px;
  border: 1px solid black;
  margin: 7px 0;
  padding: 10px 15px;
  line-height: 22px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  font-weight: 400;
}

.gpa-cgpa-container .gpa-content .gpa-input .select-box select:hover {
  border: 2px solid #ff7491;
}

.gpa-cgpa-container .gpa-content .gpa-input .select-box:after {
  content: "";
  position: absolute;
}

.gpa-cgpa-container .gpa-content .gpa-output {
  padding: 0 10px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table {
  width: 100%;
  height: 75%;
  margin-top: 15px;
  overflow-y: scroll;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  text-align: left;
  word-wrap: break-word;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tr {
  position: -webkit-sticky;
  position: sticky;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tr th {
  margin: 0 6px;
  font-size: 25px;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr {
  margin: 5px 0;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding: 10px 0;
  font-size: 20px;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr td select {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #8a8a8a;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr td select option {
  cursor: pointer;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr td select:hover {
  border: 2px solid #ff7491;
}

.gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr:hover {
  background: #e8e8e8;
}

.gpa-cgpa-container .gpa-content .gpa-output .grade-display-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.gpa-cgpa-container .gpa-content .gpa-output .grade-display-container .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gpa-cgpa-container .gpa-content .gpa-output .grade-display-container .total h1 {
  font-size: 22px;
}

.gpa-cgpa-container .gpa-content .gpa-output .grade-display-container .total #total-gpa {
  background: -webkit-gradient(linear, left top, left bottom, from(#DE3E5F), to(#FF7491));
  background: linear-gradient(180deg, #DE3E5F 0%, #FF7491 100%);
  border-radius: 7px;
  padding: 8px;
  margin-left: 10px;
  color: white;
}

.gpa-cgpa-container .gpa-content .gpa-output .grade-display-container .total #total-gpa span {
  padding-left: 5px;
  font-weight: 100;
  font-size: 20px;
}

.gpa-cgpa-container .cgpa-content {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  display: none;
  padding-top: 10px;
}

.gpa-cgpa-container .cgpa-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gpa-cgpa-container .cgpa-input div {
  padding-right: 30px;
  padding-top: 30px;
}

.gpa-cgpa-container .cgpa-input div input {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 15px;
}

.gpa-cgpa-container .cgpa-input div input::-webkit-outer-spin-button,
.gpa-cgpa-container .cgpa-input div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gpa-cgpa-container .cgpa-input div input:hover {
  -webkit-box-shadow: 0 0 10px #ff749281;
          box-shadow: 0 0 10px #ff749281;
  border: 2px solid #ff7491;
}

@media only screen and (max-width: 768px) {
  .toggle-div .toggle-left,
  .toggle-div .toggle-right {
    width: 150px;
  }
  .gpa-cgpa-container {
    height: auto;
  }
  .gpa-cgpa-container .gpa-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gpa-cgpa-container .gpa-content .gpa-input {
    border-right: 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #8f8f8f;
    margin: 0px;
    width: 100%;
  }
  .gpa-cgpa-container .gpa-content .gpa-output {
    padding: 10px 0 0 0;
  }
  .gpa-cgpa-container .gpa-content .gpa-output h1 {
    font-size: 25px;
  }
  .gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table {
    height: unset;
  }
  .gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tr th {
    font-size: 20px;
  }
  .gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr td {
    font-size: 16px;
  }
  .gpa-cgpa-container .gpa-content .gpa-output .gpa-output-grade-input-table table tbody tr td select {
    padding: 0;
  }
  .gpa-cgpa-container .gpa-content .gpa-output .grade-display-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  #navbar h1 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=styles.css.map */