* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, sans-serif;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  background: #f1f1f1;
  padding: 15px;
}

#navbar {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar h1 {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dddddd;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 40px;
  color: #2f2f2f;
}

.toggle-div {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle-div .toggle-left {
  height: 50px;
  width: 250px;
  color: white;
  border-radius: 12px 0px 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d2d2d2;
  cursor: pointer;
  font-size: 22px;
}

.toggle-div .toggle-right {
  height: 50px;
  width: 250px;
  color: white;
  border-radius: 0px 12px 12px 0px;
  background: #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  cursor: pointer;
  font-size: 22px;
}

.selected-toggle {
  background: linear-gradient(97.38deg, #de3e5f -0.86%, #ff7491 101.03%) !important;
  font-weight: bold !important;
}

.gpa-content {
  width: 65%;
  height: calc(60vh);
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFBFB), to(#EBEDEE));
  background: linear-gradient(180deg, #FDFBFB 0%, #EBEDEE 100%);
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  margin-top: 30px;
  -webkit-box-shadow: 0px 11px 31px 5px #0000001A;
          box-shadow: 0px 11px 31px 5px #0000001A;
}

#circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DE3E5F), to(#FF7491));
  background: linear-gradient(180deg, #DE3E5F 0%, #FF7491 100%);
  z-index: -1;
  position: absolute;
  right: 175px;
  top: 125px;
  -webkit-box-shadow: 15px -15px 73px -24px #00000040 inset;
          box-shadow: 15px -15px 73px -24px #00000040 inset;
  -webkit-box-shadow: -14px 15px 50px 0px #00000040;
          box-shadow: -14px 15px 50px 0px #00000040;
}

.boy-image {
  position: absolute;
  z-index: 1;
  left: 120px;
  top: 46.5%;
  height: 350px;
  width: 250px;
}

@media only screen and (max-width: 1250px) {
  #circle {
    width: 120px;
    height: 120px;
    right: 170px;
    top: 140px;
  }
}

@media only screen and (max-width: 1600px) {
  #circle {
    width: 160px;
    height: 160px;
    right: 170px;
    top: 120px;
  }
}

@media only screen and (max-width: 1150px) {
  #circle,
  .boy-image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .toggle-div .toggle-left,
  .toggle-div .toggle-right {
    width: 150px;
  }
}

@media only screen and (max-width: 425px) {
  #navbar h1 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */