$base-color: #f1f1f1;
$primary-font-color: #1f1f1f;
$secondary-font-color: white;
$transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
$toggle-bg: #bfbfbf;
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
    margin: 0;
    transition: $transition;
    padding: 0;
    font-family: -apple-system, sans-serif;
}

body {
    padding: 15px;
    background: $base-color;
}

#navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Days One', sans-serif;
        width: 80%;
        transition: $transition;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-weight: bolder;
        font-size: 40px;
        color: $primary-font-color;
    }
}

.toggle-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .toggle-left {
        height: 50px;
        width: 250px;
        transition: $transition;
        color: $secondary-font-color;
        border-radius: 12px 0px 0px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $toggle-bg;
        cursor: pointer;
        font-size: 22px;
    }

    .toggle-right {
        height: 50px;
        width: 250px;
        transition: $transition;
        color: $secondary-font-color;
        border-radius: 0px 12px 12px 0px;
        background: $toggle-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        font-size: 22px;
    }
}



.selected-toggle {
    background: linear-gradient(97.38deg, #de3e5f -0.86%, #ff7491 101.03%) !important;
    font-weight: bold !important;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gpa-content {
    padding: 30px;
    animation: zoomIn 0.7s;
    width: 80%;
    height: auto;
    border: 1px solid #9A9A9A;
    background: linear-gradient(180deg, #FDFBFB 0%, #EBEDEE 100%);
    background-size: cover;
    border-radius: 22px;
    display: flex;
    margin: auto;
    transition: $transition;
    margin-top: 30px;
    box-shadow: 0px 11px 31px 5px #0000001A;
    color: $primary-font-color;

    .gpa-input {
        padding-left: 10px;
        padding-right: 20px;
        color: $primary-font-color;
        border-right: 1px solid rgb(143, 143, 143);
        font-size: 22px;
        width: 50%;

        .select-box {
            min-height: 190px;
            overflow: auto;
            position: absolute;
            display: contents;

            select {
                cursor: pointer;
                height: 42px;
                border: 1px solid black;
                margin: 7px 0;
                padding: 10px 15px;
                line-height: 22px;
                font-size: 16px;
                width: 100%;
                border-radius: 8px;
                font-weight: 400;
            }

            select:hover {
                border: 2px solid #ff7491;
            }
        }


        .select-box:after {
            content: "";
            position: absolute;
        }
    }

    .gpa-output {
        padding: 0 10px;
        padding-left: 20px;
        width: 100%;
        height: 100%;

        .gpa-output-grade-input-table {
            width: 100%;
            height: 500px;
            margin-top: 15px;
            overflow-y: scroll;

            table {
                border-collapse: collapse;
                width: 100%;
                height: 100%;
                text-align: left;
                word-wrap: break-word;

                tr {
                    position: sticky;

                    th {
                        margin: 0 6px;
                        font-size: 25px;
                    }
                }

                tbody {
                    tr {
                        margin: 5px 0;

                        td {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.137);
                            padding: 10px 0;
                            font-size: 20px;

                            select {
                                padding: 5px;
                                border-radius: 5px;
                                font-size: 18px;
                                cursor: pointer;
                                font-weight: bold;
                                border: 2px solid #8a8a8a;
                                transition: $transition;

                                option {
                                    cursor: pointer;
                                }
                            }

                            select:hover {
                                border: 2px solid #ff7491;
                            }
                        }
                    }

                    tr:hover {
                        background: #e8e8e8;
                    }
                }
            }
        }

        .grade-display-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 15px;

            .total {
                display: flex;
                align-items: center;

                h1 {
                    font-size: 22px;
                }

                #total-gpa {
                    background: linear-gradient(180deg, #DE3E5F 0%, #FF7491 100%);
                    border-radius: 7px;
                    padding: 8px;
                    margin-left: 10px;
                    color: $secondary-font-color;

                    span {
                        padding-left: 5px;
                        font-weight: 100;
                        font-size: 20px;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1150px) {}

@media only screen and (max-width: 768px) {
    .toggle-div {

        .toggle-left,
        .toggle-right {
            width: 150px;
        }
    }

    .gpa-content {
        flex-direction: column;

        .gpa-input {
            border-right: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid rgb(143, 143, 143);
            margin: 0px;
            width: 100%;
        }

        .gpa-output {
            padding-top: 15px;

            h1 {
                font-size: 25px;
            }

            .gpa-output-grade-input-table {
                height: 50%;

                table {
                    tr {
                        th {
                            font-size: 20px;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                font-size: 16px;

                                select {
                                    padding: 0;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    #navbar h1 {
        font-size: 25px;
    }
}